.imageContainer {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    & .image {
        width: fit-content;
        margin: 0 auto;
    }
}
.card {
    color: white;
    background: var(--gradient-orange);
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    border-radius: 15px;
    & p {
        color: white;
        margin: 10px;
    }
}
