@use "../../styles/utils/_variables.module.scss" as *;

.button {
  font-size: 16px;
  font-weight: bold;
  padding: 15px 25px;
  border: 1px solid transparent;
  border-radius: 65px;
  cursor: pointer;
  color: hsl(var(--color-gradient-pink));
}
.base {
  &:hover {
    border-color: hsl(var(--color-gradient-pink));
  }
}
.blue {
  background-color: hsl(var(--color-blue-dark));
  color: white;
  &:hover {
    background-color: hsla(var(--color-blue-dark), .7);
  }
}
.medium {
    max-height: 48px;
}
.large {

    height: 56px;
    padding: 20px 30px;
}

.orangeGradient {
    color: white;
    background: var(--gradient-orange);
    &:hover {
      background: var(--gradient-orange-alpha);
    }
}
.blueGradient {
    color: white;
    background: var(--gradient-blue);
    &:hover {
      background: var(--gradient-blue-alpha);

    }
}
